<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Favourites</title>
    <link rel="stylesheet" type="text/css" href="/css/eventsList.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1 th:text="#{events.favourites}">Favourites</h1>

<div th:if="${#lists.isEmpty(favourites)}">
    <p th:text="#{account.noFavorites}">You have no favorite events.</p>
</div>
<div class="events-container" th:if="${!#lists.isEmpty(favourites)}">
    <div class="event-card" th:each="event : ${favourites}">
        <h2>
            <a th:href="@{/events/{id}(id=${event.id})}" th:text="${event.name}">Event Name</a>
        </h2>
        <p><strong th:text="#{events.speakers}">Speakers:</strong> <span
                th:text="${event.speakers}">Speaker Names</span></p>
        <p><strong th:text="#{events.room}"></strong> <span class="room" th:text="${event.room.name}">Room Name</span>
        </p>
        <p><strong th:text="#{events.dateTime}">Date & Time:</strong>
            <span th:text="${#temporals.format(event.eventDateTime, 'yyyy-MM-dd - HH:mm')}">Event Date</span>
        </p>
    </div>
</div>
<a th:href="@{/events}">Back to Events</a>
</body>
</html>