<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Events List</title>
    <link rel="stylesheet" type="text/css" href="/css/eventsList.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1 th:text="#{events.title}"></h1>

<th:block
        th:if="${#authorization.expression('isAuthenticated()') and !#authorization.expression('hasRole(''ADMIN'')')}">
    <a href="/favourites" class="favourites-button" th:text="#{events.favourites}">Favourites</a>
</th:block>
<th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
    <a href="/events/create" class="create-event-button">Create Event</a>
</th:block>

<div class="events-container">
    <div class="event-card" th:each="event : ${eventsList}">
        <h2>
            <a th:href="@{/events/{id}(id=${event.id})}" th:text="${event.name}">Event Name</a>
        </h2>
        <p><strong th:text="#{events.speakers}">Speakers:</strong> <span th:text="${event.speakers}">Speaker Names</span></p>
        <p><strong th:text="#{events.room}"></strong> <span class="room" th:text="${event.room.name}">Room Name</span></p>
        <p><strong th:text="#{events.dateTime}">Date & Time:</strong> <span
                th:text="${#temporals.format(event.eventDateTime, 'yyyy-MM-dd - HH:mm')}">Event Date</span>
            <!--        <p><strong>Capacity:</strong> <span th:text="${event.room.capacity}">Room Capacity</span></p>-->
        </p>
    </div>
</div>
<a href="/rooms/create" class="create-room-button">Add Room</a>
<!--<div th:replace="~{fragments/footer :: footer}"></div>-->
</body>
</html>