<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.title}">Login Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body onload='document.loginForm.username.focus();'>
<div th:replace="~{fragments/header :: header}"></div>

<div id="login-box">
    <h3 th:text="#{login.subtitle}">Login with Username and Password</h3>

    <div th:if="${error}" class="error" th:text="#{login.error}"></div>
    <div th:if="${msg}" class="msg" th:text="#{login.msg}"></div>

    <form th:action="@{/login}" method="post">
        <table>
            <tr>
                <td th:text="#{login.username}">User:</td>
                <td><input type='text' name='username' value=''></td>
            </tr>
            <tr>
                <td th:text="#{login.password}">Password:</td>
                <td><input type='password' name='password'/></td>
            </tr>
            <tr>
                <td colspan='2'>
                    <button name="submit" type="submit" th:text="#{login.submit}">Login</button>
                </td>
            </tr>
        </table>

        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    </form>
</div>
</body>
</html>